<div class="home-container">
    <header class="clinic-info">
      <h1>Bienvenido a la Clínica Salud y Bienestar</h1>
      <p>Tu salud es nuestra prioridad. Brindamos atención médica especializada para ti y tu familia.</p>
      <p>Contamos con los mejores médicos, tecnología de vanguardia y un ambiente cómodo para tu bienestar.</p>
    </header>
  
    <section class="clinic-services">
      <h2>Servicios Disponibles</h2>
      <ul>
        <li>Consultas médicas generales</li>
        <li>Especialidades en cardiología, dermatología, pediatría, y más</li>
        <li>Emergencias 24/7</li>
        <li>Consultas virtuales</li>
      </ul>
    </section>
  
    <section class="login-section">
      <button class="login-button" (click)="goToLogin()">Iniciar Sesión</button>
    </section>
  </div>
  