<div class="main-container">
  <header class="header">
    <div class="header-content">
      <div class="brand-section">
        <h1 class="welcome-text">Bienvenido(a):  {{ usuarioNombre }}</h1>
      </div>
      <div class="clinic-info">
        <h2 class="clinic-name">Clínica Médica Integral Leo</h2>
      </div>
      <button class="logout-btn" mat-stroked-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </div>
  </header>

  <nav class="sidenav">
    <ul class="nav-menu">
      <li>
        <a routerLink="/paciente/agendar" routerLinkActive="active-link">
          <mat-icon class="nav-icon">event_available</mat-icon>
          <span class="nav-label">Agendar Cita</span>
          <div class="active-indicator"></div>
        </a>
      </li>
      <li>
        <a routerLink="/paciente/historial" routerLinkActive="active-link">
          <mat-icon class="nav-icon">assignment_turned_in</mat-icon>
          <span class="nav-label">Historial Médico</span>
          <div class="active-indicator"></div>
        </a>
      </li>
    
    </ul>
  </nav>



  <main class="content">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
