<div class="main-container">
    <header class="header">
      <h1>Bienvenido, Dr. {{ usuarioNombre }}</h1>
      <!-- <button mat-button (click)="logout()">Cerrar Sesión</button> -->
    </header>
  
    <nav class="sidenav">
      <ul>
        <li>
          <a routerLink="/medico/agenda" routerLinkActive="active-link">
            <mat-icon>calendar_today</mat-icon>
            Gestionar Citas
          </a>
        </li>
        <li>
          <a routerLink="/medico/historial" routerLinkActive="active-link">
            <mat-icon>history</mat-icon>
            Historial de Citas
          </a>
        </li>
        <li>
          <a routerLink="/medico/perfil" routerLinkActive="active-link">
            <mat-icon>person</mat-icon>
            Mi Perfil
          </a>
        </li>
      </ul>
    </nav>
  
    <main class="content">
      <router-outlet></router-outlet>
    </main>
</div>
